# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.pidb
*.user
*.booproj
test-results*
packages

archive/

obj/
bin/
.DS_Store
*.suo
*.user
.vscode
*.mdb
*.mdb.meta
*.sqlite
*.sqlite*
